aws_region                  = "eu-west-1"
project_name                = "bar-price-builder"
terraform_state_bucket_name = "whitkirk-bar-price-builder-tfstate"
github_org                  = "whitkirkchurch"
github_repo                 = "bar-price-builder"
