bucket         = "whitkirk-bar-price-builder-tfstate"
key            = "bar-price-builder/supplier-email.tfstate"
region         = "eu-west-1"
encrypt        = true
dynamodb_table = "bar-price-builder-terraform-locks"
