aws_region                           = "eu-west-1"
domain_name                          = "example.org.uk"
inbound_email_address                = "supplier-updates@example.org.uk"
notification_from_address            = "supplier-updates@example.org.uk"
ses_feedback_email                   = "web@example.org.uk"
approved_sender_domains              = "whitkirkchurch.org.uk"
loyverse_pat                         = "replace-me"
airtable_pat                         = "replace-me"
airtable_base_id                     = "appXXXXXXXXXXXXXX"
airtable_supplier_mapping_table_id   = "tblXXXXXXXXXXXXXX"
