<tr>
    <td>
        {{ item.name }}
        {% if item.note %}&ensp;<span class="item_variant">({{ item.note }})</span>{% endif %}
        {% if item.variants %}&ensp;<span class="item_variant">({{ item.variants|join("/") }})</span>{% endif %}
        {% if item.size %}&ensp;<span class="item_variant">({{ item.size }})</span>{% endif %}
    </td>
    <td class="item_price">{{ item.price|format_currency }}</td>
</tr>
