<table class="prices_table">
    {% for item in items %}
        <tbody class="item_group">
            {% if item|is_list %}
                {% for subitem in item %}
                    {% with item = subitem %}
                        {% include "includes/item_row.jinja" %}
                    {% endwith %}
                {% endfor %}
            {% else %}
                {% include "includes/item_row.jinja" %}
            {% endif %}
        </tbody>
    {% endfor %}
</table>
