<p>
    <small>Weights and Measures Act 1985: Unless supplied pre-packed, Whisky, Gin, Rum and Vodka are offered for sale or served on these premises in quantities of Twenty Five Millilitres or multiples thereof.</small>
</p>
