<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Lighthouse Bar Price List</title>
        <style>
          @page {
            size: A5;
            margin: 10mm 10mm 15mm 10mm;
          }
        </style>
    </head>
    <body>
        <h1>
            Lighthouse Bar
            <br>
            Price List
        </h1>
        {% for section in prices_data %}
            <h2>{{ section.name }}</h2>
            {% with items=section['items'] %}
                {% include "includes/items_table.jinja" %}
            {% endwith %}
        {% endfor %}
        {% include "includes/weights_and_measures.jinja" %}
        {% include "includes/af_note.jinja" %}
    </body>
</html>
