@font-face {
  font-family: Lato;
  src: url(Lato-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Lato;
  src: url(Lato-Bold.ttf);
  font-weight: bold;
}

body {
  font-family: Lato;
  font-size: 12pt;
}

.two-column {
  column-count: 2;
}

.prices_table {
  width: 90%;
  break-inside: avoid-column;
  border-collapse: collapse;
}

.item_group {
  border-bottom: 3mm solid transparent;
}

.item_details {
  width: 100%;
}

.item_description::after {
  font-size: 0.7em;
  content: leader(dotted);
  color: #999;
}

.item_flags {
  break-inside: avoid;
  font-size: 0.7em;
}

.alcohol_free {
  font-weight: bold;
}

.item_variant {
  color: #303030;
}

.item_price {
  text-align: right;
  vertical-align: bottom;
}
